<html th:fragment="general-header" xmlns:th="http://thymeleaf.org">

<head>
  <title>CashAja - MTF Kredit Multiguna</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="icon" href="/landing-page/images/cash-aja-square.PNG">
  <link rel="stylesheet" href="/landing-page/fonts/icomoon/style.css">
  <link rel="stylesheet" href="/landing-page/css/essentials/bootstrap.min.css">
  <link rel="stylesheet" href="/landing-page/css/essentials/jquery-ui.css">
  <link rel="stylesheet" href="/landing-page/css/essentials/owl.carousel.min.css">
  <link rel="stylesheet" href="/landing-page/css/essentials/owl.theme.default.min.css">
  <link rel="stylesheet" href="/landing-page/css/essentials/owl.theme.default.min.css">
  <link rel="stylesheet" href="/landing-page/css/essentials/jquery.fancybox.min.css">
  <link rel="stylesheet" href="/landing-page/css/essentials/bootstrap-datepicker.css">
  <link rel="stylesheet" href="/landing-page/fonts/flaticon/font/flaticon.css">
  <link rel="stylesheet" href="/landing-page/css/essentials/aos.css">
  <link rel="stylesheet" href="/landing-page/css/index.css">
</head>

</html>