<html th:fragment="general-script" xmlns:th="http://thymeleaf.org">

<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<script src="/landing-page/js/essentials/jquery-3.3.1.min.js"></script>
<script src="/landing-page/js/essentials/jquery-migrate-3.0.1.min.js"></script>
<script src="/landing-page/js/essentials/jquery-ui.js"></script>
<script src="/landing-page/js/essentials/popper.min.js"></script>
<script src="/landing-page/js/essentials/bootstrap.min.js"></script>
<script src="/landing-page/js/essentials/owl.carousel.min.js"></script>
<script src="/landing-page/js/essentials/jquery.stellar.min.js"></script>
<script src="/landing-page/js/essentials/jquery.countdown.min.js"></script>
<script src="/landing-page/js/essentials/bootstrap-datepicker.min.js"></script>
<script src="/landing-page/js/essentials/jquery.easing.1.3.js"></script>
<script src="/landing-page/js/essentials/aos.js"></script>
<script src="/landing-page/js/essentials/jquery.fancybox.min.js"></script>
<script src="/landing-page/js/essentials/jquery.sticky.js"></script>
<script src="/landing-page/js/essentials/main.js"></script>
<script src="/landing-page/js/essentials/jquery.scrollie.min.js"></script>
<script src="/landing-page/js/others/js-webshim/minified/polyfiller.js"></script>
<script src="/landing-page/js/index.js"></script>

</html>