<head>
  <title>Halaman Tidak Ditemukan</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/landing-page/fonts/icomoon/style.css">
  <link rel="stylesheet" href="/landing-page/css/essentials/bootstrap.min.css">
  <link rel="stylesheet" href="/landing-page/css/essentials/jquery-ui.css">
  <link rel="stylesheet" href="/landing-page/fonts/flaticon/font/flaticon.css">
  <link rel="stylesheet" href="/landing-page/css/index.css">
  <link rel="icon" href="/landing-page/images/cash-aja.png">
</head>

<div class="site-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <img alt="Image" class="img-fluid" id="cashaja-logo-cms" src="/landing-page/images/error/404.png">
        <br><br>
        <h5>Halaman Tidak Ditemukan</h5>
        <br>
        <div>
          <a th:href="@{/}">
            <button class="btn btn-primary">
              Kembali ke Halaman Utama
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>