<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
  <title>CashAja - MTF Kredit Multiguna</title>
  <meta charset="utf-8">
  <link rel="icon" href="/landing-page/images/cash-aja-square.PNG">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body data-offset="300" data-spy="scroll" data-target=".site-navbar-target">

  <div class="site-wrap" id="home-section">
    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
  </div>

  <header class="site-navbar py-md-4 js-sticky-header site-navbar-target" role="banner">
    <object th:include="fragments/custFragment  ::  all" th:remove="tag"></object>
  </header>

  <br><br>

  <!-- FIRST LANDING -->
  <object th:include="fragments/home/intro  ::  intro" th:remove="tag"></object>

  <!-- PROMO -->
  <object th:include="fragments/home/promo  ::  promo" th:remove="tag"></object>

  <!-- KEUNTUNGAN -->
  <object th:include="fragments/home/keuntungan  ::  keuntungan" th:remove="tag"></object>

  <!-- CARA PENGAJUAN -->
  <object th:include="fragments/home/pengajuan  ::  pengajuan" th:remove="tag"></object>

  <!-- SIMULASI -->
  <object th:include="fragments/home/simulasi  ::  simulasi" th:remove="tag"></object>

  <!--TOP UP EXPRESS-->
  <object th:include="fragments/home/topupexpress  ::  topupexpress" th:remove="tag"></object>

  <!--WIRA-->
  <object th:include="fragments/home/wira  ::  wira" th:remove="tag"></object>

  <!--TESTIMONI-->
  <object th:include="fragments/home/testimoni  ::  testimoni" th:remove="tag"></object>

</body>

<!--FOOTER-->
<object th:include="fragments/footer  ::  footer" th:remove="tag"></object>

<script src="/landing-page/js/essentials/jquery.scrollie.min.js"></script>
<script src="/landing-page/js/others/js-webshim/minified/polyfiller.js"></script>
<script src="/landing-page/js/index.js"></script>

</html>