<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
  <title>MTF Kredit Multiguna</title>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">
  <link href="cust/fonts/icomoon/style.css" rel="stylesheet">
  <link href="cust/css/bootstrap.min.css" rel="stylesheet">
  <link href="cust/css/jquery-ui.css" rel="stylesheet">
  <link href="cust/css/owl.carousel.min.css" rel="stylesheet">
  <link href="cust/css/owl.theme.default.min.css" rel="stylesheet">
  <link href="cust/css/owl.theme.default.min.css" rel="stylesheet">
  <link href="cust/css/jquery.fancybox.min.css" rel="stylesheet">
  <link href="cust/css/bootstrap-datepicker.css" rel="stylesheet">
  <link href="cust/fonts/flaticon/font/flaticon.css" rel="stylesheet">
  <link href="cust/css/aos.css" rel="stylesheet">
  <link href="cust/css/style.css" rel="stylesheet">
</head>

<body data-offset="300" data-spy="scroll" data-target=".site-navbar-target">

<div class="site-wrap" id="home-section">
  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>
</div>

<header class="site-navbar py-md-4 js-sticky-header site-navbar-target" role="banner">
  <object th:include="fragments/custFragment  ::  all" th:remove="tag"></object>
</header>

<br><br>

<!-- FIRST LANDING -->
<div class="site-blocks-cover">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-12" data-aos="fade-up" style="position: relative;">
        <div id="row-first">
          <div class="col-lg-6 mr-auto align-items-stretch" id="first-text" style="margin:auto;">
            <br>
            <h1 id="h1-first">CashAja MTF</h1>
            <p class="mb-5 text-justify" id="p-first" style="color: rgb(246, 246, 246);">
              Pemberian kredit atau pembiayaan multiguna kepada customer untuk kebutuhan produktif dan konsumtif
              dengan menjaminkan BPKB kendaraan yang dimiliki.
              <br><br>
              Penuhi kebutuhanmu untuk biaya pernikahan, renovasi rumah, kesehatan, pendidikan, travelling, dan
              lainnya dengan CashAja</p>
            <div>
              <a class="btn btn-secondary mr-2 mb-2" href="#pengajuan-section">Ajukan Kredit</a>
            </div>
          </div>
          <div class="col-lg-6 mr-auto" id="first-img">
            <img alt="Image" class="img-fluid" src="cust/images/landing-bluebg.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Slider Promo-->
<div class="carousel slide" data-background="#41a7b3" data-ride="carousel" id="carouselExampleControls"
     style="margin-top:30px;margin-bottom:30px">
  <div class="carousel-inner container">
    <div class="carousel-item active">
      <img alt="First slide" class="d-block w-100" src="cust/images/promo1.png">
    </div>
    <div class="carousel-item">
      <img alt="Second slide" class="d-block w-100" src="cust/images/promo2.png">
    </div>
    <div class="carousel-item">
      <img alt="Third slide" class="d-block w-100" src="cust/images/promo3.png">
    </div>
  </div>
  <a class="carousel-control-prev" data-slide="prev" href="#carouselExampleControls" role="button">
    <span aria-hidden="true" class="carousel-control-prev-icon"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" data-slide="next" href="#carouselExampleControls" role="button">
    <span aria-hidden="true" class="carousel-control-next-icon"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- SIMULASI -->
<section class="site-section" id="simulation-section">
  <div class="container">
    <h1 class="text-black">
      <strong>Simulasi Kredit</strong>
    </h1>
    <br>
    <div class="row">

      <!-- Form Simulasi -->
      <div class="col">
        <div id="simulasi-form">
          <div class="card shadow">
            <div class="card-body">
              <div id="simulasi-container">
                <h4 class="card-title black-text">FORM SIMULASI</h4>
                <br>
                <form id="form-simulasi">
                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="inputTipeKendaraan">Tipe Kendaraan</label>
                      <select class="form-control" id="inputTipeKendaraan">
                        <option value="kendaraan Penumpang">Kendaraan Penumpang</option>
                        <option value="Motor Gede (MOGE)">Motor Gede (MOGE)</option>
                        <option value="Mobil Double Cabin">Mobil Double Cabin</option>
                      </select>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputTahunKendaraan">Tahun Kendaraan</label>
                      <select class="form-control" id="inputTahunKendaraan">
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2017">2016</option>
                        <option value="2017">2015</option>
                        <option value="2017">2014</option>
                        <option value="2017">2013</option>
                        <option value="2017">2012</option>
                      </select>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputAcuanHitung">Acuan Hitung</label>
                      <select class="form-control" id="inputAcuanHitung">
                        <option value="1">Pencairan</option>
                        <option value="2">Angsuran</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputHarga">Harga (Dalam Rupiah)</label>
                    <input class="form-control"
                           id="inputHarga"
                           placeholder="Masukkan harga kendaraan kamu"
                           type="number"
                           value="10000000"
                    >
                  </div>
                  <div class="form-group">
                    <label for="inputEstimasiPerhitungan">Estimasi Perhitungan (Dalam Rupiah)</label>
                    <input class="form-control"
                           id="inputEstimasiPerhitungan"
                           placeholder="Contoh: 500.000"
                           type="number"
                           value="7000000"
                    >
                  </div>
                  <p>Estimasi perhitungan ini bisa diubah sesuai dengan kebutuhan kamu.<br>
                    Jika kamu memilih acuan hitung berupa angsuran, isilah dengan angsuran kamu perbulannya.</p>
                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="inputAreaPlatNomor">Area Plat Nomor</label>
                      <select class="form-control" id="inputAreaPlatNomor">
                        <option value="2">DKI Jakarta, Banten, dan Jawa Barat</option>
                        <option value="1">Sumatera dan Sekitarnya</option>
                        <option value="3">Area Indonesia Lainnya</option>
                      </select>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputAreaTempatTinggal">Tempat Tinggal (Fiducia)</label>
                      <select class="form-control" id="inputAreaTempatTinggal">
                        <option value="2">DKI</option>
                        <option value="1">NON-DKI</option>
                      </select>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputJenisAsuransi">Asuransi</label>
                      <select class="form-control" id="inputJenisAsuransi">
                        <option value="2">Komprehensif</option>
                        <option value="1">TLO</option>
                        <option value="3">Kombinasi</option>
                      </select>
                    </div>
                  </div>
                  <br>
                  <button class="btn btn-primary" onclick="startSimulasi()" type="button">
                    Cek Simulasi Kredit
                  </button>
                </form>
                <br>
                <div class="alert alert-danger text-center d-none" id="simulasi-fail" role="alert"></div>
              </div>
              <div class="d-none" id="hasil-simulasi-container">
                <div id="hasil-simulasi-button">
                  <button class="btn btn-lg btn-primary mr-2 mb-2"
                          id="addm-section-btn"
                          onclick=showSimulationResult("addm")
                          type="button">
                    Perhitungan ADDM
                  </button>
                  <button class="btn btn-lg mr-2 mb-2"
                          id="addb-section-btn"
                          onclick=showSimulationResult("addb")
                          type="button">
                    Perhitungan ADDB
                  </button>
                </div>
                <br>

                <!-- Hasil Perhitungan Simulasi ADDM -->
                <div id="hasil-simulasi-addm-container">
                  <h4 class="black-text">Hasil Simulasi Kredit</h4>
                  <br>
                  <table class="table table-borderless table-simulation table-striped"
                         id="simulation-table">
                    <thead>
                    <tr>
                      <th scope="col">TENOR</th>
                      <th scope="col">BULAN</th>
                      <th scope="col">ESTIMASI PENCAIRAN</th>
                      <th scope="col">SUKU BUNGA</th>
                      <th scope="col">ANGSURAN</th>
                    </tr>
                    </thead>
                    <tbody id="simulation-tbody"></tbody>
                  </table>
                </div>

                <!-- Hasil Perhitungan Simulasi ADDB -->
                <div id="hasil-simulasi-addb-container">

                </div>

                <!-- Komponen Perhitungan Simulasi -->
                <div id="hasil-simulasi-komponen-container">
                  <h4 class="black-text">Komponen Perhitungan</h4>
                  <br>
                  <table class="table table-borderless table-simulation table-striped">
                    <tr>
                      <th>Acuan Perhitungan</th>
                      <td id="komponen-acuan-perhitungan">Pencairan</td>
                      <th>Harga Kendaraan</th>
                      <td id="komponen-harga-kendaraan">1000000</td>
                    </tr>
                    <tr>
                      <th>Pencairan</th>
                      <td id="komponen-estimasi-perhitungan">Rp. 700.000.000</td>
                      <th>Tahun Kendaraan</th>
                      <td id="komponen-tahun-kendaraan">2019</td>
                    </tr>
                    <tr>
                      <th>Area</th>
                      <td id="komponen-area">Dimana saja</td>
                      <th>Fiducia</th>
                      <td id="komponen-fiducia">DKI</td>
                    </tr>
                    <tr>
                      <th>Jenis Asuransi</th>
                      <td id="komponen-jenis-asuransi">Komprehensif</td>
                    </tr>
                  </table>
                </div>
                <p>
                  Perhitungan simulasi diatas bersifat estimasi per tanggal 11 November 2020.
                  Harga dan bunga tergantung lokasi cabang, data dapat berubah sewaktu-waktu sesuai
                  kebijakan dan ketentuan yang berlaku. Untuk perhitungan lebih detail,
                  hubungi kami di Kantor Cabang Mandiri Tunas Finance terdekat dengan kamu.
                </p>
                <a class="btn btn-secondary mr-2 mb-2" href="#pengajuan-section">Ajukan Kredit</a>
                <button class="btn btn-primary mr-2 mb-2"
                        id="simualasi-btn"
                        onclick="showSimulationForm()">
                  Kembali ke Simulasi
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--TOP UP EXPRESS-->
<div class="topupexpress blue-bg" data-aos="fade-up">
  <div id="topupexpress-asset">
    <img alt="Image" class="img-fluid" id="topupexpress-img" src="cust/images/topupexpress.svg">
  </div>
  <div id="topupexpress-text">
    <h6>
      <bold>TOP UP EXPRESS</bold>
    </h6>
    <h4>Cicilan di MTF masih jalan tapi kamu butuh duit?
      <br>
      Langsung Klik, Dana Cair!
    </h4>
    <br>
    <a class="btn btn-secondary mr-2 mb-2" href="https://www.mtf.co.id/id/top-up-express-kreditpas">Ajukan Top Up
      Express</a>
  </div>
</div>

<!-- CARA PENGAJUAN -->
<section class="site-section" id="pengajuan-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="mb-5 text-black text-left">
          <strong>Pengajuan CashAja</strong>
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">

        <!-- Tombol Pilihan Section Pengajuan-->
        <div class="row">
          <div class="col">
            <button class="btn btn-lg btn-primary" id="prosedur-title-btn" type="button">Prosedur Pengajuan</button>
          </div>
          <div class="col">
            <button class="btn btn-lg" id="syarat-title-btn" type="button">Syarat</button>
          </div>
        </div>
        <br>

        <!-- Prosedur Pengajuan -->
        <div id="prosedur-content">
          <div class="row cashaja-step-container" id="pengajuan-1">
            <div class="col-2">
              <img alt="Image" class="img-fluid" id="pengajuan-1-img" src="cust/images/pengajuan/1-colored.png">
            </div>
            <div class="col">
              <p class="black-text" id="pengajuan-1-desc"><strong> Mengisi Form Pengajuan </strong> <br>
                Kamu bisa klik disini untuk mengisi form berikut
              </p>
            </div>
          </div>
          <div class="row cashaja-step-container" id="pengajuan-2">
            <div class="col-2">
              <img alt="Image" class="img-fluid" id="pengajuan-2-img" src="cust/images/pengajuan/2-uncolored.png">
            </div>
            <div class="col">
              <p id="pengajuan-2-desc"><strong> Follow up penawaran dari MTF </strong> <br>
                Tinggal duduk manis, kamu akan segera dihubungi oleh pihak MTF saat hari kerja
              </p>
            </div>
          </div>
          <div class="row cashaja-step-container" id="pengajuan-3">
            <div class="col-2">
              <img alt="Image" class="img-fluid" id="pengajuan-3-img" src="cust/images/pengajuan/3-uncolored.png">
            </div>
            <div class="col">
              <p id="pengajuan-3-desc"><strong> Finalisasi Hitungan & Pencairan </strong> <br>
                Setelah dokumen lengkap, survey telah dilakukan, dana siap cair ke rekeningmu
              </p>
            </div>
          </div>
        </div>

        <!-- Syarat Pengajuan -->
        <div class="d-none cashaja-step-container" id="syarat-content">
          <p class="black-text">
            Jangan lupa siapkan dokumen - dokumen dibawah ini untuk mengajukan di CashAja
          </p>
          <br>
          <div class="accordion" id="pengajuanAccordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button aria-controls="collapseOne"
                          aria-expanded="true"
                          class="btn btn-link"
                          data-target="#collapseOne"
                          data-toggle="collapse"
                          type="button"
                  >
                    Untuk Pribadi
                  </button>
                </h2>
              </div>
              <div aria-labelledby="headingOne"
                   class="collapse show"
                   data-parent="#pengajuanAccordion"
                   id="collapseOne"
              >
                <div class="card-body">
                  <div class="row">
                    <div class="col-2">
                      <img alt="Image" class="img-fluid" src="cust/images/pengajuan/checkmark.png">
                    </div>
                    <div class="col">
                      <p class="black-text"> Bukti Identitas Yang Masih berlaku </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-2">
                      <img alt="Image" class="img-fluid" src="cust/images/pengajuan/checkmark.png">
                    </div>
                    <div class="col">
                      <p class="black-text"> Bukti Kepemilikan Tempat Tinggal </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-2">
                      <img alt="Image" class="img-fluid" src="cust/images/pengajuan/checkmark.png">
                    </div>
                    <div class="col">
                      <p class="black-text"> Data Keuangan </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-2">
                      <img alt="Image" class="img-fluid" src="cust/images/pengajuan/checkmark.png">
                    </div>
                    <div class="col">
                      <p class="black-text"> Dokumen Agunan </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-2">
                      <img alt="Image" class="img-fluid" src="cust/images/pengajuan/checkmark.png">
                    </div>
                    <div class="col">
                      <p class="black-text"> Legalitas Usaha </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <button aria-controls="collapseTwo"
                          aria-expanded="false"
                          class="btn btn-link collapsed"
                          data-target="#collapseTwo"
                          data-toggle="collapse"
                          type="button"
                  >
                    Untuk Badan Usaha
                  </button>
                </h2>
              </div>
              <div aria-labelledby="headingTwo"
                   class="collapse"
                   data-parent="#pengajuanAccordion"
                   id="collapseTwo"
              >
                <div class="card-body">
                  <div class="row">
                    <div class="col-2">
                      <img alt="Image" class="img-fluid" src="cust/images/pengajuan/checkmark.png">
                    </div>
                    <div class="col">
                      <p class="black-text"> Dokumen Identitas dan Legalitas Badan Usaha </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-2">
                      <img alt="Image" class="img-fluid" src="cust/images/pengajuan/checkmark.png">
                    </div>
                    <div class="col">
                      <p class="black-text"> Data Keuangan Badan Usaha </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-2">
                      <img alt="Image" class="img-fluid" src="cust/images/pengajuan/checkmark.png">
                    </div>
                    <div class="col">
                      <p class="black-text"> Data Agunan </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div>
            <a class="btn btn-secondary mr-2 mb-2" href="/faq">Cek Info Lengkap Disini</a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12">

        <!-- Form Pengajuan -->
        <div id="prosedur-form">
          <div class="card shadow">
            <div class="card-body">
              <h4 class="card-title black-text">FORM PENGAJUAN</h4>
              <br>
              <form class="form-pengajuan-submit" id="form-pengajuan" novalidate>
                <div class="form-group">
                  <label for="inputName">Nama Kamu</label>
                  <input class="form-control"
                         id="inputName"
                         placeholder="Masukkan nama lengkap kamu"
                         required
                         type="text">
                  <div class="invalid-feedback">
                    Masukkan nama kamu!
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputEmail">Alamat E-mail</label>
                  <input class="form-control"
                         id="inputEmail"
                         placeholder="Masukkan e-mail"
                         required
                         type="email">
                  <div class="invalid-feedback">
                    Masukkan alamat e-mail yang berlaku!
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPhone">Nomor Handphone</label>
                  <input class="form-control"
                         id="inputPhone"
                         maxlength="12"
                         pattern="\d*"
                         placeholder="Masukkan nomor yang bisa dihubungi"
                         required
                         type="text"
                  >
                  <div class="invalid-feedback">
                    Masukkan nomor handphone kamu!
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputKTP">Nomor KTP</label>
                  <input class="form-control"
                         id="inputKTP"
                         maxlength="16"
                         pattern="\d*"
                         placeholder="Masukkan 16 digit nomor KTP"
                         required
                         type="text">
                  <div class="invalid-feedback">
                    Masukkan 16 digit nomor KTP kamu!
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputDomisili">Domisili</label>
                  <select class="form-control" id="inputDomisili" required>
                    <option disabled selected value="">Pilih Domisili Terdekat Cabang MTF</option>
                    <option value="Ambon - REG 9">Ambon - REG 9</option>
                    <option value="Balikpapan - REG 8">Balikpapan - REG 8</option>
                    <option value="Banda Aceh - REG 1">Banda Aceh - REG 1</option>
                    <option value="Bandar Jaya - REG 2">Bandar Jaya - REG 2</option>
                    <option value="Bandung - REG 5">Bandung - REG 5</option>
                    <option value="Banjarbaru - REG 8">Banjarbaru - REG 8</option>
                    <option value="Banjarmasin - REG 8">Banjarmasin - REG 8</option>
                    <option value="Banyuwangi - REG 7">Banyuwangi - REG 7</option>
                    <option value="Batam - REG 1">Batam - REG 1</option>
                    <option value="Baturaja - REG 2">Baturaja - REG 2</option>
                    <option value="Bekasi - REG 4">Bekasi - REG 4</option>
                    <option value="Bengkulu - REG 2">Bengkulu - REG 2</option>
                    <option value="Bintaro - REG 3">Bintaro - REG 3</option>
                    <option value="Bogor - REG 4">Bogor - REG 4</option>
                    <option value="Bontang - REG 8">Bontang - REG 8</option>
                    <option value="BSD - REG 3">BSD - REG 3</option>
                    <option value="Bukit Tinggi - REG 2">Bukit Tinggi - REG 2</option>
                    <option value="Cibinong - REG 4">Cibinong - REG 4</option>
                    <option value="Cibubur - REG 4">Cibubur - REG 4</option>
                    <option value="Cikarang - REG 4">Cikarang - REG 4</option>
                    <option value="Cilegon - REG 3">Cilegon - REG 3</option>
                    <option value="Cirebon - REG 5">Cirebon - REG 5</option>
                    <option value="Denpasar - REG 7">Denpasar - REG 7</option>
                    <option value="Depok - REG 4">Depok - REG 4</option>
                    <option value="Duren Tiga 2 - REG 4">Duren Tiga 2 - REG 4</option>
                    <option value="Duri - REG 1">Duri - REG 1</option>
                    <option value="Fatmawati - REG 4">Fatmawati - REG 4</option>
                    <option value="Garut - REG 5">Garut - REG 5</option>
                    <option value="Gianyar - REG 7">Gianyar - REG 7</option>
                    <option value="Gorontalo - REG 9">Gorontalo - REG 9</option>
                    <option value="Gresik - REG 7">Gresik - REG 7</option>
                    <option value="Jakarta Selatan - REG 4">Jakarta Selatan - REG 4</option>
                    <option value="Jakarta Timur - REG 4">Jakarta Timur - REG 4</option>
                    <option value="Jakarta Barat - REG 3">Jakarta Barat - REG 3</option>
                    <option value="Jakarta Utara - REG 3">Jakarta Utara - REG 3</option>
                    <option value="Jakarta Pusat - REG 3">Jakarta Pusat - REG 3</option>
                    <option value="Jambi - REG 2">Jambi - REG 2</option>
                    <option value="Jayapura - REG 9">Jayapura - REG 9</option>
                    <option value="Jember - REG 7">Jember - REG 7</option>
                    <option value="Karawang - REG 5">Karawang - REG 5</option>
                    <option value="Kebon Jeruk - REG 3">Kebon Jeruk - REG 3</option>
                    <option value="Kemayoran - REG 3">Kemayoran - REG 3</option>
                    <option value="Kediri- REG 7">Kediri- REG 7</option>
                    <option value="Kendari - REG 9">Kendari - REG 9</option>
                    <option value="Ketapang - REG 8">Ketapang - REG 8</option>
                    <option value="Kotamobagu - REG 9">Kotamobagu - REG 9</option>
                    <option value="Kudus - REG 6">Kudus - REG 6</option>
                    <option value="Kupang - REG 7">Kupang - REG 7</option>
                    <option value="Lampung - REG 2">Lampung - REG 2</option>
                    <option value="Lebak Bulus - REG 4">Lebak Bulus - REG 4</option>
                    <option value="Lubuk Linggau - REG 2">Lubuk Linggau - REG 2</option>
                    <option value="Luwuk - REG 9">Luwuk - REG 9</option>
                    <option value="Madiun - REG 7">Madiun - REG 7</option>
                    <option value="Magelang - REG 6">Magelang - REG 6</option>
                    <option value="Makassar - REG 9">Makassar - REG 9</option>
                    <option value="Malang- REG 7">Malang- REG 7</option>
                    <option value="Mamuju - REG 9">Mamuju - REG 9</option>
                    <option value="Manado - REG 9">Manado - REG 9</option>
                    <option value="Mataram - REG 7">Mataram - REG 7</option>
                    <option value="Matraman - REG 4">Matraman - REG 4</option>
                    <option value="Medan - REG 1">Medan - REG 1</option>
                    <option value="Mojokerto - REG 7">Mojokerto - REG 7</option>
                    <option value="Muara Bungo - REG 2">Muara Bungo - REG 2</option>
                    <option value="Padang - REG 2">Padang - REG 2</option>
                    <option value="Palangkaraya - REG 8">Palangkaraya - REG 8</option>
                    <option value="Palembang - REG 2">Palembang - REG 2</option>
                    <option value="Palu - REG 9">Palu - REG 9</option>
                    <option value="Pangkal Pinang - REG 2">Pangkal Pinang - REG 2</option>
                    <option value="Pare-Pare - REG 9">Pare-Pare - REG 9</option>
                    <option value="Pecenongan - REG 3">Pecenongan - REG 3</option>
                    <option value="Pekalongan - REG 6">Pekalongan - REG 6</option>
                    <option value="Pekanbaru - REG 1">Pekanbaru - REG 1</option>
                    <option value="Pluit - REG 3">Pluit - REG 3</option>
                    <option value="Pondok Gede - REG 4">Pondok Gede - REG 4</option>
                    <option value="Pontianak - REG 8">Pontianak - REG 8</option>
                    <option value="Purwokerto - REG 6">Purwokerto - REG 6</option>
                    <option value="Rangkas Bitung - REG 3">Rangkas Bitung - REG 3</option>
                    <option value="Rantau Prapat - REG 1">Rantau Prapat - REG 1</option>
                    <option value="Samarinda - REG 8">Samarinda - REG 8</option>
                    <option value="Sampit - REG 8">Sampit - REG 8</option>
                    <option value="Semarang - REG 6">Semarang - REG 6</option>
                    <option value="Serang - REG 3">Serang - REG 3</option>
                    <option value="Sintang - REG 8">Sintang - REG 8</option>
                    <option value="Solo - REG 6">Solo - REG 6</option>
                    <option value="Sorong - REG 9">Sorong - REG 9</option>
                    <option value="Subang - REG 5">Subang - REG 5</option>
                    <option value="Sukabumi - REG 5">Sukabumi - REG 5</option>
                    <option value="Surabaya - REG 7">Surabaya - REG 7</option>
                    <option value="Tangerang - REG 3">Tangerang - REG 3</option>
                    <option value="Tarakan - REG 8">Tarakan - REG 8</option>
                    <option value="Tasikmalaya - REG 5">Tasikmalaya - REG 5</option>
                    <option value="Tegal - REG 6">Tegal - REG 6</option>
                    <option value="Tuban - REG 7">Tuban - REG 7</option>
                    <option value="Ungaran - REG 6">Ungaran - REG 6</option>
                    <option value="Yogyakarta - REG 6">Yogyakarta - REG 6</option>
                  </select>
                  <div class="invalid-feedback">
                    Pilih lokasi terdekat dengan kamu!
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputKetersediaanWaktu">Kapan Kamu Bersedia Dihubungi ?</label>
                  <select class="form-control" id="inputKetersediaanWaktu" required>
                    <option disabled selected value="">Pilih waktu</option>
                    <option value="Hari Kerja - Pagi Hari">Hari Kerja - Pagi Hari</option>
                    <option value="Hari Kerja - Siang Hari">Hari Kerja - Siang Hari</option>
                    <option value="Hari Kerja - Sore Hari">Hari Kerja - Sore Hari</option>
                    <option value="Bersedia Kapan Saja">Bersedia Kapan Saja</option>
                  </select>
                  <div class="invalid-feedback">
                    Pilih waktu yang kamu inginkan!
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-check">
                    <input class="form-check-input" id="inputConfirmation" required type="checkbox" value="">
                    <label class="form-check-label confirmation-box" for="inputConfirmation">
                      Data yang saya berikan adalah benar.
                      Dengan saya mengirimkan form ini saya mengizinkan pihak Mandiri Tunas Finance
                      untuk menghubungi saya dalam membantu proses pengajuan dan
                      bersedia menerima informasi lanjutan.
                    </label>
                    <div class="invalid-feedback">
                      Kamu harus menyetujui sebelum melanjutkan
                    </div>
                  </div>
                </div>
                <button class="btn btn-primary" type="submit">
                  Ajukan Sekarang
                </button>
              </form>
              <br>

              <!-- Alert Form Pengajuan -->
              <div class="alert alert-info text-center d-none" id="pengajuan-success" role="alert">
                Terima kasih telah melakukan pengajuan, data Anda telah tersimpan di sistem kami.
                Anda akan segera dihubungi oleh pihak MTF.
              </div>
              <div class="alert alert-danger text-center d-none" id="pengajuan-fail" role="alert">
                Data tidak berhasil kami terima. Mohon dicoba kembali.
              </div>

            </div>
          </div>
        </div>

        <!-- Pengajuan Step 2 (Sebelah Kanan) -->
        <div class="d-none" id="prosedur-step-2">
          <img alt="Pengajuan Tahap 2" class="img-fluid" src="cust/images/pengajuan/step-2-followup.png">
        </div>

        <!-- Pengajuan Step 3 -->
        <div class="d-none" id="prosedur-step-3">
          <img alt="Pengajuan Tahap 3" class="img-fluid" src="cust/images/pengajuan/step-3-finalisasi.png">
        </div>

        <!-- Syarat (Sebelah Kanan) -->
        <div class="d-none" id="syarat-img">
          <img alt="Syarat" class="img-fluid" src="cust/images/pengajuan/yellow-woman.png">
        </div>

      </div>
    </div>
  </div>
</section>

<!-- KEUNTUNGAN -->
<section class="site-section" id="features-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="mb-5 text-black text-left">
          <strong>Mengapa CashAja?</strong>
        </h1>
      </div>
    </div>
    <div class="row align-items-stretch" id="benefits">
      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
        <div class="unit-4 d-block">
          <div>
            <img alt="Image" class="img-fluid icon-benefit-ca" src="cust/images/pencairantinggi.png">
            <h3>Pencairan Tinggi</h3>
            <p>Pencairan dana up to 80% dari harga kendaraanmu</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
        <div class="unit-4 d-block">
          <div>
            <img alt="Image" class="img-fluid icon-benefit-ca" src="cust/images/sukubungakompetitif.png">
            <h3>Suku Bunga Kompetitif</h3>
            <p>Kamu bisa mendapatkan bunga pinjaman yang kompetitif</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
        <div class="unit-4 d-block">
          <div>
            <img alt="Image" class="img-fluid icon-benefit-ca" src="cust/images/fastneasy.png">
            <h3><i>Fast & Easy</i></h3>
            <p>Proses pengajuan cepat dan persyaratan mudah</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
        <div class="unit-4 d-block">
          <div>
            <img alt="Image" class="img-fluid icon-benefit-ca" src="cust/images/angsuranterjangkau.png">
            <h3>Angsuran Terjangkau & Tetap</h3>
            <p>Kamu bisa atur besar angsuran sesuai kemampuanmu dan tidak akan berubah setiap bulannya</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
        <div class="unit-4 d-block">
          <div>
            <img alt="Image" class="img-fluid icon-benefit-ca" src="cust/images/jaringanluas.png">
            <h3>Jaringan Luas Seluruh Indonesia</h3>
            <p>Kantor cabang MTF tersebar di seluruh Indonesia, ajukan di cabang terdekatmu.<br>
              <a href="https://www.mtf.co.id/id/jaringan-mtf"><u>Klik disini untuk cabang terdekat</u></a>
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!--TESTIMONIAL-->
<section class="site-section" id="testimonials-section">
  <div class="container">
    <div class="row mb-6">
      <div class="col-12 text-left">
        <h1 class="mb-5 text-black">
          <strong>Testimoni Customer</strong>
        </h1>
      </div>
    </div>
    <div id="testimonial-row">
      <div class="col-lg-6 col-md-12 col-12" id="youtube" style="margin-top:10px">
        <div id="container-iframe" style="word-wrap:break-word;margin-top:auto;margin-bottom:auto">
          <iframe allowfullscreen frameborder="0" height="100%" src="https://www.youtube.com/embed/5Ml9CAMLAxA"
                  width="100%">
          </iframe>
        </div>
      </div>

      <div class="col-lg-5 col-md-8 col-12" style="margin-top:10px;margin-left:auto;margin-right:auto;">
        <div class="card container card-testimoni">
          <div class="slide-one-item home-slider owl-carousel">
            <div class="testimonial">
              <figure class="mb-4 d-block align-items-center justify-content-center">
                <div><img alt="Image" class="w-100 mb-3 my-5 shadow" src="cust/images/yulietta.png"></div>
              </figure>
              <h4 class="text-black mb-3">Yulietta Marchia H</h4>
              <p class="mb-3 text-black">&ldquo;Marketing & Collector nya baik dan ramah. Proses Top Up juga dibantu dengan mudah, selain itu bunga nya juga ringan.&rdquo;</p>
            </div>
            <div class="testimonial">
              <figure class="mb-4 d-block align-items-center justify-content-center">
                <div><img src="cust/images/jerry.png" alt="Image" class="w-100 mb-3 my-5 shadow"></div>
              </figure>
              <h4 class="text-black mb-3">Jerry Firdaus</h4>
              <p class="mb-3 text-black">&ldquo;Semangat Pagi! Dengan adanya fasilitas multiguna dari MTF saya sangat terbantu dalam bisnis saya, 
              karena bisnis saya butuh perputaran modal yang besar dan cepat. Dengan multiguna juga bisa di proses dan cair dengan cepat. 
              Tentunya bunga yang rendah dan terjangkau. Proses juga tidak ribet sama sekali. Terimakasih banyak MTF atas fasilitas dan service nya. 
              Semangat Pagi!&rdquo;</p>
            </div>
            <div class="testimonial">
              <figure class="mb-4 d-block align-items-center justify-content-center">
                <div><img src="cust/images/user-avatar.png" alt="Image" class="w-100 mb-3 my-5 shadow"></div>
              </figure>
              <h4 class="text-black mb-3">Marjono</h4>
              <p class="mb-3 text-black">&ldquo;Saya selaku konsumen MTF merasa mudah dan merasa nyaman.
                Prosesnya juga mudah dan saya juga dilayani dengan baik.
                Saya sangat nyaman sekali dengan MTF.&rdquo;</p>
            </div>
            <div class="testimonial">
              <figure class="mb-4 d-block align-items-center justify-content-center">
                <div><img alt="Image" class="w-100 mb-3 my-5 shadow" src="cust/images/user-avatar.png"></div>
              </figure>
              <h4 class="text-black mb-3">Iman Fajar Kurnia</h4>
              <p class="mb-3 text-black">&ldquo;Alhamdulillah lancar dan proses di MTF tidak berbelit.
                Saya pilih MTF karena bunganya murah dan prosesnya cepet banget.&ldquo;
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<br><br>

<!--WIRA-->
<section class="site-section" id="wira-section">
  <div class="container" id="wira">

    <!-- Penegenalan WIRA -->
    <div id="wira-detail">
      <div id="wira-text">
        <h1>
          <strong>WIRA MTF</strong>
        </h1>
        <h4>Mau penghasilan tambahan tak terbatas tanpa ribet?</h4>
        <p>WIRA merupakan partner bisnis Mandiri Tunas Finance
          sebagai agen multiguna yang bekerja secara perorangan / grup / media
          dengan menggunakan metode penawaran langsung kepada customer (referral).
        </p>
        <a class="btn btn-primary mr-2 mb-2" href="https://www.mtf.co.id/id/mandiri-wira">GABUNG WIRA</a>
      </div>
      <div id="wira-img">
        <img alt="Image" class="img-fluid" src="cust/images/wira.svg">
      </div>
    </div>

    <!-- Benefit WIRA -->
    <h4>Apa keuntungannya?</h4>
    <div id="wira-benefit">
      <div class='item5'>
        <img alt="Image" class="img-fluid" src="cust/images/icon-benefit.svg">
        <h7>Penghasilan
          <br>Tak Terbatas
        </h7>
      </div>
      <div class='item5'>
        <img alt="Image" class="img-fluid" src="cust/images/icon-benefit.svg">
        <h7>Training GRATIS</h7>
      </div>
      <div class='item5'>
        <img alt="Image" class="img-fluid" src="cust/images/icon-benefit.svg">
        <h7>Hadiah Menarik</h7>
      </div>
      <div class='item5'>
        <img alt="Image" class="img-fluid" src="cust/images/icon-benefit.svg">
        <h7><i>Flexible Working <br>
          Day and Hours</i></h7>
      </div>
      <div class='item5'>
        <img alt="Image" class="img-fluid" src="cust/images/icon-benefit.svg">
        <h7>Bisa Bekerja<br>
          Dimana Saja
        </h7>
      </div>
    </div>
  </div>
</section>


<!--FOOTER-->
<div class="footer bg-light">
  <div class="float-left half-container">
    <img alt="Image" class="img-fluid" id="logo" src="cust/images/footer-logo.svg">
    <p class="footer-text black-text">Mandiri Tunas Finance terdaftar dan diawasi oleh OJK</p>
    <p class="footer-text black-text">Copyright &copy;
      <script>
          document.write(new Date().getFullYear());
      </script>
      All rights reserved
    </p>
  </div>
  <div class="float-right half-container text-center">
    <p class="black-text">
      <strong>Unduh Aplikasi MTF Go</strong>
    </p>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <a href="https://apps.apple.com/my/app/mtf-go/id1123593855">
          <img alt="Unduh Aplikasi MTF GO di Apple App Store"
               id="app-store-badge"
               src="cust/images/store-badge/app-store.png">
        </a>
      </div>
      <div class="col-md-6 col-sm-12">
        <a href="https://play.google.com/store/apps/details?id=com.mtf.calculator.external">
          <img alt="Unduh Aplikasi MTF GO di Google Play Store"
               id="google-play-badge"
               src="cust/images/store-badge/google-play.png">
        </a>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>

<!--DONE-->

<script src="cust/js/jquery-3.3.1.min.js"></script>
<script src="cust/js/jquery-migrate-3.0.1.min.js"></script>
<script src="cust/js/jquery-ui.js"></script>
<script src="cust/js/popper.min.js"></script>
<script src="cust/js/bootstrap.min.js"></script>
<script src="cust/js/owl.carousel.min.js"></script>
<script src="cust/js/jquery.stellar.min.js"></script>
<script src="cust/js/jquery.countdown.min.js"></script>
<script src="cust/js/bootstrap-datepicker.min.js"></script>
<script src="cust/js/jquery.easing.1.3.js"></script>
<script src="cust/js/aos.js"></script>
<script src="cust/js/jquery.fancybox.min.js"></script>
<script src="cust/js/jquery.sticky.js"></script>
<script src="cust/js/main.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="cust/js/jquery.scrollie.min.js"></script>

<script>
    $(document).ready(function () {
        var scroll_pos = 0;
        $(document).scroll(function () {
            scroll_pos = $(this).scrollTop();
            if (scroll_pos > 210) {
                $("body").css('background-color', '#f6f6f6');
                $("#h1-first").css('color', '#2E2727');
                $("#p-first").css('color', 'gray');
                $("body").css('color', 'gray');

            } else {
                $("body").css('background-color', '#061977');
                $("#h1-first").css('color', '#f6f6f6');
                $("#p-first").css('color', '#f6f6f6');
            }
        });
    });
    // Perubahan desain pada bagian pengajuan CashAja
    $('#prosedur-title-btn').click(function () {
        $(this).addClass('btn-primary').removeClass('d-none')
        $('#prosedur-content').removeClass('d-none')
        $('#prosedur-form').removeClass('d-none')
        $('#syarat-title-btn').removeClass('btn-primary')
        $('#syarat-content').addClass('d-none')
        $('#syarat-img').addClass('d-none')
    });
    $('#syarat-title-btn').click(function () {
        $(this).addClass('btn-primary').removeClass('d-none')
        $('#syarat-content').removeClass('d-none')
        $('#syarat-img').removeClass('d-none')
        $('#prosedur-title-btn').removeClass('btn-primary')
        $('#prosedur-content').addClass('d-none')
        $('#prosedur-form').addClass('d-none')

        // Cleanup Hover
        clearPengajuan2()
        clearPengajuan3()

        // Reset ke Tahap 1
        $('#pengajuan-1-desc').addClass("black-text")
        $('#pengajuan-1-img').attr("src", "cust/images/pengajuan/1-colored.png")
    });
    $('#pengajuan-1').hover(function () {
        // Step Pengajuan
        $('#pengajuan-1-desc').addClass("black-text")
        $('#pengajuan-1-img').attr("src", "cust/images/pengajuan/1-colored.png")
        // Elemen Sebelah Kanan (Form)
        $('#prosedur-form').removeClass('d-none')
        // Hapus State Hover
        clearPengajuan2()
        clearPengajuan3()
    });
    $('#pengajuan-2').hover(function () {
        // Step Pengajuan
        $('#pengajuan-2-desc').addClass("black-text")
        $('#pengajuan-2-img').attr("src", "cust/images/pengajuan/2-colored.png")
        // Elemen Sebelah Kanan (Gambar Tahap 2)
        $('#prosedur-step-2').removeClass('d-none')
        // Hapus State Hover
        clearPengajuan1()
        clearPengajuan3()
    });
    $('#pengajuan-3').hover(function () {
        // Step Pengajuan
        $('#pengajuan-3-desc').addClass("black-text")
        $('#pengajuan-3-img').attr("src", "cust/images/pengajuan/3-colored.png")
        // Elemen Sebelah Kanan (Form)
        $('#prosedur-step-3').removeClass('d-none')
        // Hapus State Hover
        clearPengajuan1()
        clearPengajuan2()
    });

    // Menghapus Hover Elemen Elemen Sebelumnya Jika Ada Elemen Lain di Hover
    function clearPengajuan1() {
        $('#pengajuan-1-desc').removeClass("black-text")
        $('#pengajuan-1-img').attr("src", "cust/images/pengajuan/1-uncolored.png")
        $('#prosedur-form').addClass('d-none')
    }

    function clearPengajuan2() {
        $('#pengajuan-2-desc').removeClass("black-text")
        $('#pengajuan-2-img').attr("src", "cust/images/pengajuan/2-uncolored.png")
        $('#prosedur-step-2').addClass('d-none')
    }

    function clearPengajuan3() {
        $('#pengajuan-3-desc').removeClass("black-text")
        $('#pengajuan-3-img').attr("src", "cust/images/pengajuan/3-uncolored.png")
        $('#prosedur-step-3').addClass('d-none')
    }

    // Validasi form pengajuan
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            var forms = document.getElementsByClassName('form-pengajuan-submit');
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    event.preventDefault();
                    if (form.checkValidity() === false) {
                        event.stopPropagation();
                    } else {
                        startPengajuan()
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();

    // Melakukan sembunyikan alert pengajuan sebelum melakukan POST
    function preprocessPengajuan() {
        $('#pengajuan-success').addClass('d-none')
        $('#pengajuan-fail').addClass('d-none')
    }

    // Fungsi melakukan start pengajuan CashAja
    function startPengajuan() {
        preprocessPengajuan()
        $.post("/pengajuan/add/", {
            "name": $('#inputName').val(),
            "email": $('#inputEmail').val(),
            "phone": $('#inputPhone').val(),
            "noktp": $('#inputKTP').val(),
            "lokasi": $('#inputDomisili').val(),
            "hubungi": $('#inputKetersediaanWaktu').val(),
        }, "json")
            // Pemanggilan AJAX sukses
            .done(function (data) {
                $('#pengajuan-success').removeClass('d-none')
            })
            // Pemanggilan AJAX gagal, umumnya karena masalah sistem & internet
            .fail(function (data) {
                $('#pengajuan-fail').removeClass('d-none')
            });
    }

    // Kirim Form Pengajuan (Tidak perlu validasi karena sudah ada default value)
    function startSimulasi() {
        $('#simulasi-fail').addClass('d-none')

        let form = {};
        form['product_id'] = "54dd7eb003b811eb9ea5005056a5a40e";
        form['otr'] = $('#inputHarga').val();
        form['acuan_hitung'] = $('#inputAcuanHitung').val();
        form['area'] = $('#inputAreaPlatNomor').val();
        form['fiducia'] = $('#inputAreaTempatTinggal').val();
        form['jenis_asuransi'] = $('#inputJenisAsuransi').val();
        form['dp_persen'] = "30"
        form['tahun_kendaraan'] = $('#inputTahunKendaraan').val();

        if (form['otr'] === "" || form['otr'] === "0") {
            return $('#simulasi-fail').removeClass('d-none').text('Harga kendaraan tidak boleh kosong atau bernilai nol')
        } else if (parseInt($('#inputEstimasiPerhitungan').val()) >= form['otr']) {
            return $('#simulasi-fail').removeClass('d-none').text('Estimasi perhitungan harus bernilai lebih kecil dari harga barang')
        }

        if (form['acuan_hitung'] === "1") {
            form['tdp_diketahui'] = form['otr'] - $('#inputEstimasiPerhitungan').val()
            $.ajax({
                url: 'https://mcalc.mtf.co.id:8887/mtf-go/web/index.php/multiguna/api/budget/tdp-diketahui',
                headers: {
                    'Token': 'Ex6OF9RJDs09rmNsw_R3v23Ohg6lSDRO',
                },
                type: "POST",
                dataType: 'json',
                contentType: "application/json",
                data: JSON.stringify(form),
                success: function (data) {
                    finishSimulationForm(data, form)
                },
                error: function (error) {
                    $('#simulasi-fail').removeClass('d-none').text('Data tidak berhasil kami terima. Mohon dicoba kembali.')
                }
            });
        } else {
            form['angsuran_diketahui'] = $('#inputEstimasiPerhitungan').val()
            $.ajax({
                url: 'https://mcalc.mtf.co.id:8887/mtf-go/web/index.php/multiguna/api/budget/angsuran-diketahui',
                headers: {
                    'Token': 'Ex6OF9RJDs09rmNsw_R3v23Ohg6lSDRO',
                },
                type: "POST",
                dataType: 'json',
                contentType: "application/json",
                data: JSON.stringify(form),
                success: function (data) {
                    finishSimulationForm(data, form)
                },
                error: function (error) {
                    $('#simulasi-fail').removeClass('d-none').text('Data tidak berhasil kami terima. Mohon dicoba kembali.')
                }
            });
        }
    }

    function finishSimulationForm(data, form) {
        hideSimulationForm()
        saveSimulationResult(data)
        showSimulationResult("addm")
        showCalculationComponent(form)
    }

    function hideSimulationForm() {
        $('#simulasi-container').addClass('d-none')
        $('#hasil-simulasi-container').removeClass('d-none')
    }

    function showSimulationForm() {
        $('#simulasi-container').removeClass('d-none')
        $('#hasil-simulasi-container').addClass('d-none')
    }

    function showCalculationComponent(formData) {
        if (formData['acuan_hitung'] === '1') {
            $('#komponen-acuan-perhitungan').text('Pencairan')
        } else {
            $('#komponen-acuan-perhitungan').text('Angsuran')
        }

        if (formData['area'] === '1') {
            $('#komponen-area').text('Sumatera dan Sekitarnya')
        } else if (formData['area'] === '2') {
            $('#komponen-area').text('DKI Jakarta, Banten, dan Jawa Barat')
        } else {
            $('#komponen-area').text('Area Indonesia Lainnya')
        }

        if (formData['fiducia'] === '1') {
            $('#komponen-fiducia').text('NON-DKI')
        } else {
            $('#komponen-fiducia').text('DKI')
        }

        if (formData['jenis_asuransi'] === '1') {
            $('#komponen-jenis-asuransi').text('TLO')
        } else if (formData['area'] === '2') {
            $('#komponen-jenis-asuransi').text('Komprehensif')
        } else {
            $('#komponen-jenis-asuransi').text('Kombinasi')
        }

        $('#komponen-harga-kendaraan').text('Rp. ' + formData['otr'])
        $('#komponen-estimasi-perhitungan').text('Rp. ' + $('#inputEstimasiPerhitungan').val())
        $('#komponen-tahun-kendaraan').text(formData['tahun_kendaraan'])
    }

    let addb_data = null,
        addm_data = null

    function saveSimulationResult(data) {
        addb_data = data.data.main.addb
        addm_data = data.data.main.addm
    }

    function showSimulationResult(type) {
        let props = ["tenor", "bulan", "tdp", "suku_bunga", "angsuran"],
            tipe_angsuran = type === "addm" ? addm_data : addb_data

        // Mengosongkan tabel jika user hendak berpindah menu ADDM / ADDB
        $('#simulation-tbody').empty();

        $.each(tipe_angsuran, function (i, data) {
            let tr = $('<tr>');
            $.each(props, function (i, prop) {
                let tableData = null
                if (prop === "tdp" || prop === "angsuran") {
                    tableData = "Rp. " + data[prop]
                } else if (prop === "suku_bunga") {
                    tableData = data[prop] + " %"
                } else {
                    tableData = data[prop]
                }
                $('<td>').html(tableData).appendTo(tr);
            });
            $('#simulation-tbody').append(tr);
            changeSimulationButtonColor(type)
        });
    }

    function changeSimulationButtonColor(type) {
        if (type === "addm") {
            // Apabila tombol ADDM diklik oleh pengguna
            $('#addm-section-btn').addClass("btn-primary")
            $('#addb-section-btn').removeClass("btn-primary")
        } else {
            // Apabila tombol ADDB diklik oleh pengguna
            $('#addm-section-btn').removeClass("btn-primary")
            $('#addb-section-btn').addClass("btn-primary")
        }
    }
</script>
</body>
</html>