<head>
  <title>Login Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="cust/fonts/icomoon/style.css">
  <link rel="stylesheet" href="/cust/css/bootstrap.min.css">
  <link rel="stylesheet" href="/cust/css/jquery-ui.css">
  <link rel="stylesheet" href="/cust/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/cust/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="/cust/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="/cust/css/jquery.fancybox.min.css">
  <link rel="stylesheet" href="/cust/css/bootstrap-datepicker.css">
  <link rel="stylesheet" href="/cust/fonts/flaticon/font/flaticon.css">
  <link rel="stylesheet" href="/cust/css/aos.css">
  <link rel="stylesheet" href="/cust/css/style.css">
  <link rel="icon" href="/cust/images/cash-aja.png">
</head>

<div class="site-section bg-light" id="contact-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center">
          <h2 class="section-title mb-3">Cash Aja CMS</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-7 mb-5">
          <form  th:action="@{/login}" class="p-5 bg-white" method="POST">
            <div th:if="${param.error}">
              <span style="color: red">Invalid username or password</span>
            </div>

            <div class="row form-group">
              
              <div class="col-md-12">
                <label class="text-black" for="subject">Username</label> 
                <input type="subject" id="subject" name="username" class="form-control rounded-0">
              </div>
            </div>

            <div class="row form-group">       
                <div class="col-md-12">
                  <label class="text-black" for="subject">Password</label> 
                  <input type="password" id="subject" name="password"class="form-control rounded-0">
                </div>
              </div>

            <div class="row form-group justify-content-center">
              <div class="row">
                <input type="submit" value="Log In" class="btn btn-primary mr-2 mb-2">
              </div>
            <div>


          </form>
          </div></div></div></div>