<html th:fragment="intro" xmlns:th="http://thymeleaf.org">
<div class="site-blocks-cover">
  <div class="container" data-aos="fade-up">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-12" style="position: relative;">
        <div id="row-first">
          <div class="col-lg-6 mr-auto align-items-stretch" id="first-text" style="margin:auto;">
            <br>
            <h1 id="h1-first"><strong>CashAja MTF</strong></h1>
            <p id="p-first" class="mb-5 text-justify">
              Pemberian kredit atau pembiayaan multiguna kepada customer untuk kebutuhan produktif dan konsumtif
              dengan menjaminkan BPKB kendaraan yang dimiliki.
              <br><br>
              Penuhi kebutuhanmu untuk biaya pernikahan, renovasi rumah, kesehatan, pendidikan, travelling, dan
              lainnya dengan CashAja
            </p>
            <div>
              <button id="ajukan-kredit" class="btn btn-primary mr-2 mb-2">Ajukan Kredit</button>
            </div>
          </div>
          <div class = "col-lg-1">

          </div>
          <div id="first-img" class="col-lg-5 mr-auto">
            <img src="/landing-page/images/sultan.png" style="max-width:68%"  alt="Image" class="img-fluid mr-auto">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</html>