<html th:fragment="keuntungan" xmlns:th="http://thymeleaf.org">
<section class="site-section bg-light" id="features-section" data-aos="fade-up">
  <div class="container">
    <div id="benefits">
      <div class="item-benefit-cashaja" data-aos="fade-up">
        <div class="unit-4 d-block">
          <div>
            <img alt="Image" class="img-fluid icon-benefit-ca" src="landing-page/images/pencairantinggi.png">
            <h3>Pencairan Tinggi</h3>
            <p>Pencairan dana up to 80% dari harga kendaraanmu</p>
          </div>
        </div>
      </div>

      <div class="item-benefit-cashaja" data-aos="fade-up">
        <div class="unit-4 d-block">
          <div>
            <img alt="Image" class="img-fluid icon-benefit-ca" src="landing-page/images/sukubungakompetitif.png">
            <h3>Suku Bunga Kompetitif</h3>
            <p>Kamu bisa mendapatkan bunga pinjaman yang kompetitif</p>
          </div>
        </div>
      </div>

      <div class="item-benefit-cashaja" data-aos="fade-up">
        <div class="unit-4 d-block">
          <div>
            <img src="landing-page/images/fastneasy.png" alt="Image" class="img-fluid icon-benefit-ca">
            <h3>Fast & Easy</h3>
            <p>Proses pengajuan cepat dan persyaratan mudah</p>
          </div>
        </div>
      </div>

      <div class="item-benefit-cashaja" data-aos="fade-up">
        <div class="unit-4 d-block">
          <div>
            <img alt="Image" class="img-fluid icon-benefit-ca" src="landing-page/images/angsuranterjangkau.png">
            <h3>Angsuran Terjangkau & Tetap</h3>
            <p>Kamu bisa atur besar angsuran sesuai kemampuanmu dan tidak akan berubah setiap bulannya</p>
          </div>
        </div>
      </div>

      <div class="item-benefit-cashaja" data-aos="fade-up">
        <div class="unit-4 d-block">
          <div>
            <img alt="Image" class="img-fluid icon-benefit-ca" src="landing-page/images/jaringanluas.png">
            <h3>Jaringan Luas Seluruh Indonesia</h3>
            <p>Kantor cabang MTF tersebar di seluruh Indonesia<br>
              <a href="https://www.mtf.co.id/id/jaringan-mtf"><u>Klik disini untuk cabang terdekat</u></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

</html>