<html th:fragment="topupexpress" xmlns:th="http://thymeleaf.org">
<section id="topupexpress-section" data-aos="fade-up">
  <div class="topupexpress blue-bg container">
    <div id="topupexpress-asset">
      <img src="/landing-page/images/topup-express.png" alt="Image" class="img-fluid" id="topupexpress-img">
    </div>
    <div id="topupexpress-text">
      <h6>
        <bold>TOP UP EXPRESS</bold>
      </h6>
      <h4>Cicilan di MTF masih jalan tapi kamu butuh duit?
        <br>
        Langsung Klik, Dana Cair!
      </h4>
      <br>
      <button id="ajukan-topup-express" class="btn btn-secondary mr-2 mb-2">Ajukan Top Up Express</button>
    </div>
  </div>
</section>
</html>