<html th:fragment="wira" xmlns:th="http://thymeleaf.org">
<section class="site-section" id="wira-section" data-aos="fade-up">
  <div id="wira" class="container">

    <!-- Penegenalan WIRA -->
    <div id="wira-detail">
      <div id="wira-text">
        <h1>
          <strong>WIRA MTF</strong>
        </h1>
        <h4>Mau penghasilan tambahan tanpa ribet?</h4>
        <p>WIRA merupakan partner bisnis Mandiri Tunas Finance
          sebagai agen multiguna yang bekerja secara perorangan / grup / media
          dengan menggunakan metode penawaran langsung kepada customer (referral).
        </p>
        <button id="gabung-wira" class="btn btn-primary mr-2 mb-2">Gabung WIRA</button>
      </div>
      <div id="wira-img">
        <img alt="Image" class="img-fluid" src="landing-page/images/wira.svg">
      </div>
    </div>

    <!-- Benefit WIRA -->
    <h4>Apa keuntungannya?</h4>
    <div id="wira-benefit" class="row align-items-stretch" data-aos="fade-up">
      <div class='item-benefit-wira'>
        <img src="landing-page/images/benefit-wira/penghasilantakterbatas.png" alt="Image" class="img-fluid">
        <h7>Penghasilan
          <br>Tak Terbatas
        </h7>
      </div>
      <div class='item-benefit-wira'>
        <img src="landing-page/images/benefit-wira/traininggratis.png" alt="Image" class="img-fluid">
        <h7>Training GRATIS</h7>
      </div>
      <div class='item-benefit-wira'>
        <img src="landing-page/images/benefit-wira/hadiahmenarik.png" alt="Image" class="img-fluid">
        <h7>Hadiah Menarik</h7>
      </div>
      <div class='item-benefit-wira'>
        <img src="landing-page/images/benefit-wira/flexibleworkinghours.png" alt="Image" class="img-fluid">
        <h7><i>Flexible Working <br>
          Day and Hours</i></h7>
      </div>
      <div class='item-benefit-wira'>
        <img src="landing-page/images/benefit-wira/bekerjadimanasaja.png" alt="Image" class="img-fluid">
        <h7>Bisa Bekerja<br>
          Dimana Saja
        </h7>
      </div>
    </div>
  </div>
</section>

</html>